*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
}

header{
    
    height: 200px;
    width: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(all.jpg);
   
   
   
}
select{
    font-size: large;
    background-color: rgba(0, 0,0, 0.6);
    color: white;
    width: 100%;
    height: 100%;
    padding-left: 700px;
    font-weight:bold;
    font-size: 20px;
  
}
main{
   width: 100%;
   height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main > div {
    width: 300px;
    height: 400px;
    border: 5px solid gray;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}
div > img {
    width: 200px;
    height: 140px;
    background-size: cover; 
}